# from https://github.com/sinisterstuf Ebitengine Game Jam template
name: Build Executables
on: [push]
jobs:

  tests:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Install dependencies
        shell: bash
        run: sudo apt-get update && sudo apt-get -y install libgl1-mesa-dev xorg-dev libasound2-dev
      - name: Run tests
        shell: bash
        run: cd src && go mod download && xvfb-run go test -v ./...

  build-win:
    name: Build Windows binary
    needs: tests
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Build Windows exe
        shell: bash
        run: cd src && go run ./cmd/builder -o roboden.exe
      - name: Upload Windows exe
        uses: actions/upload-artifact@v3
        with:
          name: roboden-win
          path: |
            LICENSE
            src/roboden.exe
  build-mac:
    name: Build MacOS binary
    needs: tests
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Build Mac exe
        shell: bash
        run: cd src && go run ./cmd/builder -o roboden
      - name: Tar it up
        shell: bash
        run: tar -zcvf roboden-mac.tar.gz src/roboden LICENSE
      - name: Upload Mac exe
        uses: actions/upload-artifact@v3
        with:
          name: roboden-mac
          path: roboden-mac.tar.gz

  build-lin:
    name: Build Linux binary
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Install dependencies
        shell: bash
        run: sudo apt-get update && sudo apt-get -y install libgl1-mesa-dev xorg-dev libasound2-dev
      - name: Build Linux exe
        shell: bash
        run: cd src && go run ./cmd/builder -o roboden
      - name: Tar it up
        shell: bash
        run: tar -zcvf roboden-lin.tar.gz src/roboden LICENSE
      - name: Upload Linux exe
        uses: actions/upload-artifact@v3
        with:
          name: roboden-lin
          path: roboden-lin.tar.gz

  build-web:
    name: Build Web binary
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Build Web binary
        shell: bash
        run: cd src && go run ./cmd/builder -goos=JS -goarch=wasm -o dist/web/main.wasm
      - name: Copy WASM exec script
        shell: bash
        run: cd src && cp $(go env GOROOT)/misc/wasm/wasm_exec.js dist/web/.
      - name: Upload Web build
        uses: actions/upload-artifact@v3
        with:
          name: roboden-web
          path: |
            src/dist/web/
            LICENSE
  upload-bundle:
    name: Bundle binaries with dev assets
    runs-on: ubuntu-latest
    needs: [build-lin, build-mac, build-win]
    steps:
      - uses: actions/checkout@v3
      - name: Download Windows binary
        uses: actions/download-artifact@v3
        with:
          name: roboden-win
      - name: Download Linux binary
        uses: actions/download-artifact@v3
        with:
          name: roboden-lin
      - name: Download Mac binary
        uses: actions/download-artifact@v3
        with:
          name: roboden-mac
      - name: Upload beta testing bundle
        uses: actions/upload-artifact@v3
        with:
          name: roboden-bundle
          path: |
            README.md
            LICENSE
            roboden-lin.tar.gz
            roboden-mac.tar.gz
            roboden.exe
#  deploy-win:
#    name: Deploy Windows build to itch.io
#    if: startsWith(github.event.ref, 'refs/tags/v')
#    needs: build-win
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/download-artifact@v3
#        with:
#          name: roboden-win
#      - uses: josephbmanley/butler-publish-itchio-action@master
#        env:
#          BUTLER_CREDENTIALS: ${{ secrets.BUTLER_CREDENTIALS }}
#          CHANNEL: windows
#          ITCH_GAME: roboden
#          ITCH_USER: sinisterstuf
#          PACKAGE: roboden.exe
#          VERSION: ${{github.ref_name}}
#
#  deploy-mac:
#    name: Deploy MacOs build to itch.io
#    if: startsWith(github.event.ref, 'refs/tags/v')
#    needs: build-mac
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/download-artifact@v3
#        with:
#          name: roboden-mac
#      - name: Extract tarball
#        shell: bash
#        run: tar -zxvf roboden-mac.tar.gz
#      - uses: josephbmanley/butler-publish-itchio-action@master
#        env:
#          BUTLER_CREDENTIALS: ${{ secrets.BUTLER_CREDENTIALS }}
#          CHANNEL: mac
#          ITCH_GAME: roboden
#          ITCH_USER: sinisterstuf
#          PACKAGE: roboden
#          VERSION: ${{github.ref_name}}
#
#  deploy-lin:
#    name: Deploy Linux build to itch.io
#    if: startsWith(github.event.ref, 'refs/tags/v')
#    needs: build-lin
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/download-artifact@v3
#        with:
#          name: roboden-lin
#      - name: Extract tarball
#        shell: bash
#        run: tar -zxvf roboden-lin.tar.gz
#      - uses: josephbmanley/butler-publish-itchio-action@master
#        env:
#          BUTLER_CREDENTIALS: ${{ secrets.BUTLER_CREDENTIALS }}
#          CHANNEL: linux
#          ITCH_GAME: roboden
#          ITCH_USER: sinisterstuf
#          PACKAGE: roboden
#          VERSION: ${{github.ref_name}}
#
#  deploy-web:
#    name: Deploy Web build to itch.io
#    if: startsWith(github.event.ref, 'refs/tags/v')
#    needs: build-web
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/download-artifact@v3
#        with:
#          name: roboden-web
#      - uses: josephbmanley/butler-publish-itchio-action@master
#        env:
#          BUTLER_CREDENTIALS: ${{ secrets.BUTLER_CREDENTIALS }}
#          CHANNEL: web
#          ITCH_GAME: roboden
#          ITCH_USER: sinisterstuf
#          PACKAGE: dist/web
#          VERSION: ${{github.ref_name}}